<section class="container-fluid">
    <div class="">
        <h2>Select Questions</h2>
        <div class="row" id="question-select">
            <!-- <div class="col-2 bg-dark text-light text-center">
                <span class="d-flex">
                    <h5 class="ms-4 me-2">Category:</h5>
                    <h5></h5>
                </span>
                <button onclick="app.InfoController.drawQuestion('')">Open</button>
            </div> -->
        </div>
    </div>
    <div class="row">
        <div class="col-3 bg-dark text-light rounded-2 border border-primary">
            <h3>Question</h3>
            <div id="question-ask"></div>
        </div>
    </div>
</section>