<section class="container-fluid">
    <div class="text-center">
        <h2 class="fw-bold">Select Questions</h2>
        <button class="btn btn-outline-dark" onclick="app.InfoController.drawQuestions()">Easy</button>
        <button class="btn btn-outline-dark ms-3 me-3"
            onclick="app.InfoController.drawMediumQuestions()">Medium</button>
        <button class="btn btn-outline-dark">Hard</button>
        <div class="row mt-3">
            <div class="col-6 justify-content-center" id="question-select">

            </div>
            <div class="col-6 d-flex flex-column align-items-center" id="question-home">
            </div>
        </div>
    </div>

</section>